{% load my_tags %}
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark fixed-top" style="width: 12%; height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Меню</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{% url 'catalog:home' %}" class="nav-link" aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"></path>
                </svg>
                Главная
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"></path>
                </svg>
                Категории
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"></path>
                </svg>
                Заказы
            </a>
        </li>
        <li>
            <a href="{% url 'catalog:contacts' %}" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"></path>
                </svg>
                Контакты
            </a>
        </li>
        <li>
            <a href="{% url 'catalog:blog' %}" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"></path>
                </svg>
                Блог
            </a>
        </li>
    </ul>
    {% if user|is_content_moderator %}
        Контент-модератор
    {% endif %}
    {% if user|is_moderator %}
        Модератор
    {% endif %}
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.is_authenticated %}
                <img src="/media/{{ user.avatar }}" alt="/media/{{ user.avatar }}" width="32" height="32"
                     class="rounded-circle me-2">
                <strong>{{ user }}</strong>
            {% else %}
                <strong>Пользователь</strong>
            {% endif %}
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="">
            <li><a class="dropdown-item" href="#">Новый заказ</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'user:profile' %}">Профиль</a></li>
                <li><a class="dropdown-item" href="{% url 'user:logout' %}">Выйти из профиля</a></li>
            {% else %}
                <li><a class="dropdown-item" href="{% url 'user:register' %}">Регистрация</a></li>
                <li><a class="dropdown-item" href="{% url 'user:login' %}">Войти</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<script>
    // Получаем текущий URL
    let currentUrl = window.location.pathname;

    // Ищем пункты меню, у которых ссылка совпадает с текущим URL
    let menuLinks = document.querySelectorAll('.nav-link');
    menuLinks.forEach(function (link) {
        if (link.getAttribute('href') === currentUrl) {
            link.classList.add('active');
        } else link.classList.add('text-white');
    });
</script>