{% extends 'catalog/base.html' %}

{% load my_tags %}
{% block content %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Главная</h1>
        <p class="fs-5 text-body-secondary">Вы находитесь на сайте предназначенном для продажи товаров.</p>
        {% if user.is_authenticated %}
            <a href="{% url "catalog:create_product" %}" class="btn btn-outline-primary me-2">Добавить продукт</a>
            <div class="row row-cols-3 justify-content-md-center mt-5">
                {% for product in object_list %}
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <a href="{% url 'catalog:view_product' pk=product.pk %}">
                                    <h4 class="my-0 fw-normal">{{ product.title }}</h4>
                                </a>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ product.price }} рублёв</h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>{{ product.category }}</li>
                                    <li><img src="{{ product.img|mediapath }}" class="img-fluid" style="height: 200px"
                                             alt="{{ product.title }}"</li>
                                    <li>{{ product.description }}</li>
                                </ul>
                                {% if product.active_version %}
                                    - Активная версия: {{ product.active_version.version_number }} (
                                    {{ product.active_version.version_name }})
                                {% endif %}
                                <p>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-sm btn-outline-secondary">Купить</a>
                                    {% if user|is_moderator or user == product.user %}
                                        <a href="{% url 'catalog:update_product' pk=product.pk %}"
                                           class="btn btn-sm btn-outline-secondary">
                                            Изменить
                                        </a>
                                    {% endif %}
                                    {% if user.is_superuser %}
                                        <a href="{% url 'catalog:delete_product' pk=product.pk %}"
                                           class="btn btn-sm btn-outline-secondary text-danger">
                                            Удалить
                                        </a>
                                    {% endif %}
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            Войдите, чтобы видеть и создавать продукты
        {% endif %}
    </div>
{% endblock %}
